#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: black;
}

.success {
  color: green;
}

.error {
  color: red;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  background-color: pink;
  border: 5px solid purple;
  border-radius: 5px;
  padding: 20px;
  padding-top: 0px;
  margin-bottom: 30px;
}

.button {
  background-color: aqua;
  margin-bottom: 10px;
}

.button:hover {
  background-color: rgb(21, 204, 204);
}

h1 {
  color: aqua;
}
